@model FilesUpload
<form method="post"  enctype="multipart/form-data">
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Enter your details to apply today!</p>
    <div class="row">
        <div class="col-3">
            Upload Zip:
        </div>
        <div class="col-6">
            <input type="file" class="form-control pt-1" name="ZipFile" />
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            
        </div>
        <div class="col-6">
            <button type="submit" class="btn btn-success">Apply</button>
        </div>
    </div>
</div>
</form>
